<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Data-Viz | Data</title>

        <script>
            function downloadImage(plotb64encoded){

                var image = document.getElementById("plot_image")
                
                image_data = image.src
                var element = document.createElement("a")
                element.href = image_data
                element.download = "plot.png"
                element.click()
            }

            function redirectToLinearRegression(key){

                window.location.href = "/linearRegression/"+key
            }

            function redirectToLogisticRegression(key){

                window.location.href = "/logisticRegression/"+key
            }

        </script>
    </head>
    <body>
        <table>
            <tr>
                {% for column in data_columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for row in data_values %}
            <tr>
                {% for row_value in row%}
                <td>{{ row_value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <form id="graphform" method="get">
            <label for="graph">Choose a Graph: </label>
            <select id="graph" name="graph">
                {% for graph_item in graph_list %}
                <option value="{{graph_item}}">{{graph_item}}</option>
                {% endfor %}
            </select>
            <label for="ycolumn">Y Axis: </label>
            <select id="ycolumn" name="ycolumn">
                {% for ycolumn in data_columns %}
                <option value="{{ycolumn}}">{{ycolumn}}</option>
                {% endfor %}
            </select>
            <label for="xcolumn">X Axis: </label>
            <select id="xcolumn" name="xcolumn">
                <option value = " "> </option>
                {% for xcolumn in data_columns %}
                <option value="{{xcolumn}}">{{xcolumn}}</option>
                {% endfor %}
            </select>
            <button type="submit">Visualize</button>
        </form>
        <button id = "{{csv_uuid}}" onclick="redirectToLinearRegression(this.id)">Fit Linear Regression Model</button>
        <button id = "{{csv_uuid}}" onclick="redirectToLogisticRegression(this.id)">Fit Logistic Regression Model</button>
        {% if plot %}
        <img id = "plot_image" src="data:image/png;base64,{{ plot|safe }}">
        <button onclick="downloadImage()">Download Plot</button>
        {% endif %}

    </body>
</html>